
<!-- top tiles -->
<div class="row tile_count">

<div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
  <span class="count_top"><i class="fa fa-apple" aria-hidden="true"></i> Apple Devices Enrolled</span>
  <div class="count">150</div>
  <span class="count_bottom"><i class="green">100 </i>  online</span>
</div>

<div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
  <span class="count_top"><i class="fa fa-windows" aria-hidden="true"></i> Windows Devices Enrolled</span>
  <div class="count">100</div>
  <span class="count_bottom"><i class="green">80 </i> online</span>
</div>

</div>
<!-- /top tiles -->

